@tailwind base;
@tailwind components;
@tailwind utilities;


.text-stroke {
    -webkit-text-stroke: 4px black; /* Width and color of the stroke */
}

.bg-image {
    background-image: url('assets/imgtest5.jpg');
    margin-top: 10px;
    margin: 100px;
}

.hero {
    background-image: url('assets/imgtest10.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}